.container {
    height: 100vh;
    width: 100%;
    display: flex;
    .content {
        background: linear-gradient(45deg, #0F1B48, #4d7898, #a5623b);
        background-size: 300% 300%;
        flex: 1 1;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        animation: color 12s ease-in-out infinite;
        @keyframes color {
            0% {
                background-position: 0 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0 50%;
            }
        }
    }
    .card {
        box-shadow: 5px 5px 15px 5px rgba($color: #000000, $alpha: 0.4);
        font-family: 'Courier New', Courier, monospace;
        background: #1c1c1c;
        display: flex;
        justify-content: center;
        position: relative;
        width: 360px;
        height: 400px;
        margin:auto;
        padding: 10px 30px 10px 30px;
        border-radius: 8px;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 380px;
            height: 420px;
            background: linear-gradient(0deg, transparent, 
            #a5623b, #a5623b);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
        }
        &::after {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 380px;
            height: 420px;
            background: linear-gradient(0deg, transparent, 
            #a5623b, #a5623b);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -3s;
        }
        @keyframes animate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .form {
            position: absolute;
            inset: 2px;
            border-radius: 8px;
            background: #28292d;
            z-index: 20;
            padding: 50px 40px;
            flex-direction: column;
            h2 {
                color: #a5623b;
                font-weight: 500;
                text-align: center;
                letter-spacing: 0.1em;
            }
            .inputCard {
                position: relative;
                width: 300px;
                margin-top: 35px;
                input {
                    position: relative;
                    width: 100%;
                    padding: 20px 10px 10px;
                    background: transparent !important;
                    border: none;
                    outline: none;
                    color: #28292d;
                    font-size: 1em;
                    letter-spacing: 0.05em;
                    z-index: 10;
                    &:valid ~ span,
                    &:focus ~ span {
                      color: #a5623b;
                      transform: translateX(0px) translateY(-34px);
                      font-size: 0.75em;
                    }
                    &:valid ~ i,
                    &:focus ~ i {
                        height: 44px;
                    }
                }
                i {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: #a5623b;
                    border-radius: 4px;
                    transition: 0.5s;
                    pointer-events: none;
                    z-index: 9;
                }
                span {
                    position: absolute;
                    left: 0;
                    padding: 20px 0px 10px;
                    font-size: 1em;
                    color: #8f8f8f;
                    pointer-events: none;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                }
            }
            .buttonCard {
                border: none;
                outline: none;
                background-color: #a5623b;
                padding: 11px 25px;
                width: 100px;
                margin-top: 10px;
                border-radius: 4px;
                font-weight: 600;
                cursor: pointer;
                &:active {
                    opacity: 0.8;
                }
            }
            .linksCard {
                display: flex;
                justify-content: space-between;
                a {
                    margin: 10px 0;
                    font-size: 0.75em;
                    color: #8f8f8f;
                    text-decoration: none;
                    &:hover, &:nth-child(2) {
                        color: #a5623b;
                    }
                }
            }
        }
    }
    .action_button {
        margin-bottom: 50px;
        padding-left: 40px;
        a button {
            background-color: transparent;
            font-family: 'Courier New', Courier, monospace;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1.2em;
            font-weight: 400;
            transition: .4s;
            padding: 5px 10px;
            border: 1px solid transparent;
            border-radius: 10%;
            color: #1c1c1c;
            &:hover {
                border: 1px solid #1c1c1c;
                border-radius: 10%;
                background: #1c1c1c;
                color: #fff;
            }
        }
    }
    @media screen and (min-width: 1200px) {
        .image {
            flex: 1;
            background-image: url("../../img/img-left-login.png");
            background-position: top;
            background-size: cover;
        }
    }
}

